<%- include('partials/header') %>
<div class="container">
  <h2 class="text-center mt-4">
    Become An Admin
    <small class="form-text text-muted">
      <% if(locals.error) %> <%= locals.error %>
    </small>
  </h2>
  <form action="" method="POST">
    <div>Current Role: <%= currentUser.role %></div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include('partials/footer') %>
